<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задачи Vue js</title>
</head>

<body>
    <!-- EX 1 and EX 2 -->

    <!-- <div id="application">
        {{ username }}
        <br>
        <input type="date" v-model="year">
        <label>Возраст</label> {{ age }}
    </div> -->


    <!-- EX 3 -->

    <div id="app">
        <p>На каком языке программируете?</p>
        <p>
            <input type="radio" name="lang" v-model="lang" value="JavaScript"> JavaScript
        </p>
        <p>
            <input type="radio" name="lang" v-model="lang" value="Python"> Python
        </p>
        <p>
            <input type="radio" name="lang" v-model="lang" value="Java"> Java
        </p>
        <label>Опыт?</label>
        <input type="text" v-model="exp" placeholder="Введите значение">
        <label>лет</label>
        <br>
        <label>Ваша зарплата</label>
        ${{ salary }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>